<div class="page page__stats">
    <div class="center-container">
        <h1>{{name}}</h1>

        <h2>Points</h2>
        <p class="points-js">{{points}}</p>

        <h2>Ranking</h2>
        <p class="ranking-js">{{ranking}}</p>
    </div>
</div>