<div class="page page__intro">

    <div class="center-container">
        <img class="logo-main" src="asset/img/logo_main.png" />
        <div class="button btn-start-js">Create Tournament</div>
    </div>
</div>