<div class="page page__lobby">
    <p>Go to <span class="green">www.google.com</span> to join this game.</p>

    <h1>Enter this code to join</h1>
    <div class="code-container">
        <div class="code-container__item item-js">1</div>
        <div class="code-container__item item-js">2</div>
        <div class="code-container__item item-js">3</div>
        <div class="code-container__item item-js">4</div>
    </div>

    <h1>Players</h1>
    <div class="player-container"></div>

    <div class="start-container">
        <div class="button btn-lock-js">Lock players</div>
    </div>
</div>