<div class="page page__join">
    <div class="center-container">
        <form class="join">
            <h1>Enter Name</h1>
            <input class="name-js" type="text"/>

            <h1>Enter Code</h1>
            <input class="code-js" type="number"/>

            <input class="button" type="submit" value="Join"/>
        </form>
    </div>

    <div class="error">Game not found</div>
</div>