<div class="page page__join">
    <div class="center-container">
        <form class="join">
            <h1>Enter Name</h1>
            <input class="name" type="text"/>

            <h1>Enter Code</h1>
            <input class="code" type="number"/>

            <input class="button" type="submit" value="Join"/>
        </form>
    </div>
</div>