html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before,
  q::before {
    content: ''; }
  blockquote::after,
  q::after {
    content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none;
  background: none;
  border: none; }

div {
  box-sizing: border-box; }

:focus {
  outline: 0; }

html {
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.2em;
  user-select: none; }

* {
  -webkit-appearance: inherit;
  box-sizing: inherit; }
  *::before {
    -webkit-appearance: inherit;
    box-sizing: inherit; }
  *::after {
    -webkit-appearance: inherit;
    box-sizing: inherit; }

.center-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.logo-main {
  pointer-events: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .logo-main {
      width: 1000px; } }

.button {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  background: #009958;
  border: 1px solid #009958;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
  min-width: 250px;
  padding: 20px 15px;
  text-align: center;
  text-transform: uppercase; }
  .button__down {
    background: #fff;
    color: #009958; }

.page {
  min-height: 100%;
  position: relative; }

.page__intro .center-container {
  width: 50%; }

.page__intro .logo-main {
  display: block;
  width: 100%; }

.page__lobby h1 {
  margin: 2em 0;
  text-align: center; }

.page__lobby .code-container {
  border: 1px solid #009958;
  display: flex;
  height: 125px;
  margin: 0 auto;
  width: 500px; }
  .page__lobby .code-container__item {
    border-right: 1px solid #009958;
    font-size: 2em;
    height: 125px;
    line-height: 125px;
    text-align: center;
    width: 125px; }
    .page__lobby .code-container__item:last-child {
      border: none; }

.overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.loader-overlay {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  text-align: center;
  transition: opacity 0.4s; }
  .loader-overlay h1 {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  .loader-overlay.is-hidden {
    opacity: 0;
    pointer-events: none; }
