<div class="page page__intro">

    <div class="center-container">
        <img class="logo-main" src="asset/img/logo_main_mobile.jpg" />
        <div class="button btn-join-js">Find game</div>
    </div>
</div>