.knockout-player {
  border: 1px solid $green;
  height: 100px;
  left: 0;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transform: none;
  width: 30%;

  h2 {
    line-height: 80px;
  }
}