<div class="page page__round">
    <h1>Round <span class="round-number-js">{{round}}</span></h1>

    <div class="player-container">

    </div>

    <div class="button btn-end-round-js">End round</div>
</div>